<div class="all-about-place">

    <div>
        <h2 class="text-center">Major Destinations of Chhattisgarh</h2>
    </div>

    <div class="all-cg">
        <div class="cg-place">
            <a [routerLink]="'all-tour/raipur'"> <img src="https://chhattisgarhtourism.co.in/images/raipur.jpg" alt="">
                <h6>Raipur</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/gangrel'">
                <img src="https://chhattisgarhtourism.co.in/images/gangrel_dam.jpg" alt="">
                <h6>Gangrel</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/sirpur'">
                <img src="https://chhattisgarhtourism.co.in/images/sirpur.jpg" alt="">
                <h6>Sirpur</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/rajim'">
                <img src="https://chhattisgarhtourism.co.in/images/rajim.jpg" alt="">
                <h6>Rajim</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/nawapara'">
                <img src="https://chhattisgarhtourism.co.in/images/barnawapara.jpg" alt="">
                <h6>Nawapara</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/champaranya'">
                <img src="https://chhattisgarhtourism.co.in/images/champaranya.jpg" alt="">
                <h6>champaranya</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/chitrakote'">
                <img src="https://chhattisgarhtourism.co.in/images/chitrakote.jpg" alt="">
                <h6>chitrakote Waterfall</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/tirathgarh'">
                <img src="https://chhattisgarhtourism.co.in/images/tirathgarh.jpg" alt="">
                <h6>Tirathgarh Waterfall</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/bhoramdeo'">
                <img src="https://chhattisgarhtourism.co.in/images/bhoramdeo.jpg" alt="">
                <h6>Bhoramdeo</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/dongargarh'">
                <img src="https://chhattisgarhtourism.co.in/images/dongargarh.jpg" alt="">
                <h6>Dongargarh</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/ratanpur'">
                <img src="https://chhattisgarhtourism.co.in/images/ratanpur.jpg" alt="">
                <h6>Ratanpur</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/tala'">
                <img src="https://chhattisgarhtourism.co.in/images/tala.jpg" alt="">
                <h6>Tala</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/amarkantak'">
                <img src="https://chhattisgarhtourism.co.in/images/achanakmar.jpg" alt="">
                <h6>Achanakmar</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/girodpuri'">
                <img src="https://chhattisgarhtourism.co.in/images/girodhpuri.jpg" alt="">
                <h6>Girodhpuri</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/mainpart'">
                <img src="https://chhattisgarhtourism.co.in/images/mainpat.jpg" alt="">
                <h6>Mainpat</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/baster'">
                <img src="https://chhattisgarhtourism.co.in/images/bastar.jpg" alt="">
                <h6>Bastar</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/madku-deep'">
                <img src="https://chhattisgarhtourism.co.in/images/madku.jpg" alt="">
                <h6>Madku Dweep</h6>
            </a>
        </div>
        <div class="cg-place">
            <a [routerLink]="'all-tour/kanger-valley'">
                <img src="https://chhattisgarhtourism.co.in/images/kanger.jpg" alt="">
                <h6>Kanger Valley</h6>
            </a>
        </div>
    </div>
</div>