<div class="nav-or-list">
  <div class="list-of-palce">
    <div class="place-list">
      <ol>
        <li>Raipur</li>
        <li>gangrel</li>
        <li>sirpur</li>
        <li>Rajim</li>
        <li>Barnawapara</li>
        <li>Champaranya</li>
        <li>Chitrakote </li>
        <li>Tirathgarh </li>
        <li>Bhoramdeo </li>
        <li>Dongargarh</li>
        <li>Ratanpur</li>
        <li>Tala</li>
        <li>Achanakmar</li>
        <li>Girodhpuri </li>
        <li>Mainpat</li>
        <li>Bastar</li>
        <li>Madku Dweep</li>
        <li>Kanger Valley</li>
      </ol>
    </div>
  </div>
  <div class="nav-for-place">
    <div class="place-nav">
     

    </div>
  </div>
</div>