<mat-list role="list">
    <mat-list-item role="listitem" RouterLink="all-tour/raipur">Raipur</mat-list-item>
    <mat-list-item role="listitem">gangrel</mat-list-item>
    <mat-list-item role="listitem">sirpur</mat-list-item>
    <mat-list-item role="listitem">Rajim</mat-list-item>
    <mat-list-item role="listitem">Barnawapara</mat-list-item>
    <mat-list-item role="listitem">Champaranya</mat-list-item>
    <mat-list-item role="listitem">Chitrakote</mat-list-item>
    <mat-list-item role="listitem">Tirathgarh</mat-list-item>
    <mat-list-item role="listitem">Bhoramdeo</mat-list-item>
    <mat-list-item role="listitem">Dongargarh</mat-list-item>
    <mat-list-item role="listitem">Ratanpur</mat-list-item>
    <mat-list-item role="listitem">Tala</mat-list-item>
    <mat-list-item role="listitem">Achanakmar</mat-list-item>
    <mat-list-item role="listitem">Girodhpuri</mat-list-item>
    <mat-list-item role="listitem">Mainpat</mat-list-item>
    <mat-list-item role="listitem">Bastar</mat-list-item>
    <mat-list-item role="listitem">Madku Dweep</mat-list-item>
    <mat-list-item role="listitem">Kanger Valley</mat-list-item>

  </mat-list>
  