<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="https://chhattisgarhtourism.co.in/images/header1.jpg" class="d-block w-100" alt="...">
      <!-- <h3 class="image-and">" Kutumsar Caves "</h3>
      <h5 class="image-and">- World’s Second Largest Naturally Formed Caves.</h5> -->
    </div>
    <div class="carousel-item">
      <img src="https://chhattisgarhtourism.co.in/images/header3.jpg" class="d-block w-100" alt="...">
      <!-- <h3 class="image-and" > " Chitrakoot Waterfall Chhattisgarh "</h3>
         <h5 class="image-and">- Terrifying Display of Water out of its Normal Nature Being Calm and Adjustable</h5> -->
    </div>
    <div class="carousel-item image-and">
      <img src="https://chhattisgarhtourism.co.in/images/header4.jpg" class="d-block w-100" alt="...">
     <!-- <h3 class="image-and"> " Girodhpuri Dham "</h3>
      <h5 class="image-and">- Girodhpuri Dham</h5> -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="all-tourism">
  <div class="places">
    <h2 class="text-center">Tourist Destinations of CG</h2>
    <p class="text-center">Hot Destinations of Chhattisgarh</p>
    <div class="all-place-image">
      <div class="tour-images">
        <div class="raipur">
          <h5>Raipur</h5>
        </div>
        <div class="gangrel">
          <h5>Gangrel</h5>
        </div>
        <div class="sirpur">
          <h5>Sirpur</h5>
        </div>
        <div class="rajim">
          <h5>Rajim</h5>
        </div>
      </div>
      <div class="text-center view-button">
        <button type="button" class="btn btn-info" [routerLink]="'/all-tour'" >View All</button>
      </div>
    </div>

    <div class="details-in">
      <div class="numbers-of">
        <div class="destinations">
          <h1>20</h1>
          <p>Destinations</p>
        </div>
        <div class="hotels">
          <h1>184</h1>
          <p>Hotels</p>
        </div>
        <div class="tourists">
          <h1>2207</h1>
          <p>Tourists</p>
        </div>
        <div class="tours">
          <h1>688</h1>
          <p>Tours</p>
        </div>
      </div>
    </div>

    <div class="about-cg">
      <div class="text-center chh-heading">
        <h3>About Chhattisgarh</h3>
      </div>
      <div class="about-chh">
        <div>
          <p>The state has various old historic points, exquisite wild life, wonderfully cut sanctuaries, regal
            residences, waterfalls, cavern, rock depictions and slope levels. The greater part of these locales is
            untouched and unexplored and offers unique and unforgettable experience to vacationers, along with mouth
            watering cuisine.</p>
          <p>Chhattisgarh has positioned itself as the destination ‘full of surprises’ with some of the amazing
            destinations which could certainly lead to the growth of tourism in the future. It has created a niche for
            itself on the tourist map of India.
          </p>
          <p>Chhattisgarh Tourism is also trying to incorporate carrying capacity analysis to the resource utilization.
            The state is covered with nearly 45% of the forests and 32% of tribal population, therefore, it offers
            immense opportunities for Eco-Ethno, Adventure and Cultural tourism.
          </p>
          <button class="btn btn-info">Read More</button>
        </div>
        <div class="chh-on">
          <div class="chh-img">
            <h3 >Raipur</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
